.section-team{
    background: url("../images/Rectangle2.png");
    height: 100vh;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.team{
    width: 50%;
    height: 100%;
    background: rgba(49, 52, 54, 0.93);
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
}

.team__detail{
    height: 100%;
    width: 75%;
}

.team__title{
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 4.5rem;
}

.team__list{
    margin: 0;
    margin-top: 4.375rem;
    padding: 0;
    list-style-type: none;
}


/*.team__item{
    font-family: Gagalin;
    font-size: .875rem;
    color: #f9b43b;
}*/

.team__item_title{
    font-family: Gagalin;
    font-size: .875rem;
    color: #ffffff;
}

.team__item_title::before{
    display: inline-block;
    margin-right: 10px;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f9b43b;
    transform: translateY(-50%);
}

.team__item_title-active:hover{
    color: #f9b43b;
}

.team__item_title-active:hover::before{
    transform: rotate(180deg) translateY(50%);
}
.team__description{
    display: flex;
}

.team__image{
    margin: 1.25rem;
    max-width: 100%;
    height: 100%;
    
}

.team__text{
    font-family: Ubuntu-Light;
    font-size: .875rem;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    padding: 0 1.25rem;
    box-sizing: border-box;
    
}

.team__text-title{
    font-family: Ubuntu-Bold;
    font-size: .875rem;
    color: #ffffff;
}

