
.carte{
    background: url("../images/carte.png");
    height: 100vh;
    min-height: 40.625rem;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;

    @include tablet {
        height: 100%;
        min-height: 100vmax;
    }
}

.section__title{
    position: absolute;
    top: 6.25rem;
    left: 5.9375rem;
    margin: 0;
    font-family: Gagalin, sans-serif;
    font-size: 4.5rem;
    color: #ffffff;

    @include tablet{
        left: 1rem;
        top: 6.875rem;
        font-size: 5rem;
    }
}

.carte-accord{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


.carte-accord__item{
    height: 100%;
    padding: 0;
    display: flex;
}


.carte-accord__item-active{

    height: 100%;
    position: relative;
    width: 31.25rem;
    background: rgba(47, 50, 52, 0.93);
    line-height: 2;
}


.carte-accord__link{
    width: 5rem;
    height: 100%;
    display: block;
    position: relative;
    background: no-repeat center/cover;
}



.carte-accord__link::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;   
}

.carte-accord__title{
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    white-space: nowrap;
    font-family: Gagalin;
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(-35%) rotate(-90deg);
}

.carte-accord__description{
    width: 0;
    overflow: hidden;
   
}

.carte-accord__text{
    position: absolute;
    font-family: Ubuntu-Light;
    font-size: 0.875rem;
    color: #ffffff;
}





