@font-face{
    font-family: "Gagalin";
    src: url("./Fonts/Gagalin-Regular.otf")format(otf);
}

@font-face{
    font-family: "Ubuntu";
    src: url("./Fonts/Ubuntu-B.ttf")format(ttf),
    url("./Fonts/Ubuntu-Light.ttf") format(ttf),
    url("./Fonts/Ubuntu-Medium.ttf") format(ttf),
    url("./Fonts/Ubuntu-Regular.ttf") format(ttf);
}