.footer{
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    background: url(../images/footer-bg.png);
    background-size: cover;
    bottom: 0;
    left: 0;
}
