.form {
    background: url("../images/form-bg.png");
    height: 100vh;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form__header {
    font-family: Gagalin;
    font-size: 72px;
    color: #f9b43b;
    text-align: center;
  }
  
  .form__group {
    display: flex;
  }
  
  .form__column {
    flex: 1 0 50%;
    margin-right: 20px;
  }
  
  .form__row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .form__block {
    flex: 1;
    margin-right: 20px;
  }
  
  .form__label {
    color: #ffffff;
    font-family: Ubuntu-Light;
    font-size: 14px;
  }
  
  .form__input {
    height: 35px;
    width: 100%;
    padding: 0 5px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  
  .form__textarea {
    width: 100%;
    height: 106px;
    padding: 5px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  
.form__input_radio {
    position: absolute;
    left: -9999px; }
  
  .form__label_type_radio {
    position: relative;
    cursor: pointer; }
    .form__label_type_radio:before {
      content: '';
      vertical-align: middle;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      display: inline-block;
      background-color: #ffffff;
      margin-right: 10px; }
    .form__label_type_radio:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #e35028;
      top: 9px;
      left: 4px;
      transform: translateY(-50%);
      opacity: 0;
      transition: .3s linear; }
  
  .form__input_radio:checked + .form__label_type_radio:after {
    opacity: 1; }
  
  .form__input_checkbox {
    position: absolute;
    left: -9999px; }
  
  .form__label_type_checkbox {
    position: relative;
    cursor: pointer; }
    .form__label_type_checkbox:before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background-color: #ffffff; }
    .form__label_type_checkbox:after {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 8px;
      left: 0;
      transform: translateY(-50%);
      background: url("../images/correct-symbol.svg") no-repeat center/cover;
      opacity: 0;
      transition: .3s linear;
      }
  
  .form__input_checkbox:checked + .form__label_type_checkbox:after {
    opacity: 1; }
  
  .form__block_btn {
    flex: 0; }
  
  .form__reset {
    outline: none;
    border: none;
    color: #ffffff;
    font-family: Ubuntu-Light;
    font-size: 14px;
    background-color: transparent;
    line-height: 35px;
    cursor: pointer; }

    .form__reset:hover {
      font-weight: bold; }
 
  
  .order-button {
    padding: 0 15px;
    background-color: #e45028;
    border-radius: 5px;
    font-family: Ubuntu-Medium;
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    transition: .3s linear; }
    
    .order-button:hover {
      background: #c1401e; }
    
      .order-button_form {
      outline: none;
      border: none;
      cursor: pointer; }

   
   
  