.map{
    background: url("../images/map-bg.png");
    height: 100vh;
    min-height: 650px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
 
