.onepage-scroll {
  position: fixed;
  list-style-type: none;
  right: 3.125rem;
  top: 5.625rem;
  margin: 0;
  padding: 0;
  z-index: 200; }

.onepage-scroll-item {
  position: relative;
  width: 0.375rem;
  height: 0.375rem;
  margin-top: 0.625rem;
  color: #fff; }

.onepage-scroll-link {
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  border: 0.0625rem solid transparent; }

.onepage-scroll-item:hover::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0.1875rem;
  right: 0.5625rem;
  border: 0.0625rem solid #fff; }
