.reviews {
  height: 100vh;
  min-height: 40.625rem; }

.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 68.75rem;
  height: 100%;
  flex-wrap: wrap; }

.reviews__item {
  flex: 1 0 25%;
  filter: grayscale(100);
  width: 17.1875rem;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include tablet {
    flex: 0 1 38%;
    height: 25%;
  }
}

.reviews__item:hover .reviews__portrait {
  display: block; }

.reviews__portrait {
  display: none;
  padding: 3.125rem 1.25rem;
  text-align: left;
  opacity: 1;
  background-color: rgba(20, 20, 20, 0.5); 
  @include tablet {
   
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.reviews__name {
  font-family: Gagalin;
  font-size: 0.875rem;
  color: #ffffff; }

.reviews__text {
  font-family: Ubuntu-Light;
  margin: 2rem 0 1.25rem 0;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.714; }

.reviews__button {
  font-family: Ubuntu-Medium;
  text-align: left;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  border: 0.0625rem solid #2f3234;
  background: #2f3234;
  border-radius: 0.3125rem;
  padding: 0.75rem 0.9375rem;
  width: 6.875rem;
  height: 1.875rem; }