.statement {
  background: url("../images/bg.png") no-repeat; }

.statement {
  height: 100vh;
  min-height: 40.625rem;
  background-size: cover;
  display: flex;
  align-items: center; 
  @include tablet{
    min-height: 100vmax;
    height: 100%;
  }
}

.statement-header {
  text-align: center;
  font-family: Gagalin;
  font-size: 4.5rem;
  color: #2f3234;
  margin: 0; }

.statement-list {
  display: flex;
  list-style-type: none;
  padding: 0; }

.statement-item {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center; }

.statement-image {
  height: 5.9375rem; }

.statement-pic {
  height: 100%;
  width: 100%; }

.statement-title {
  font-family: Lifehack-Medium;
  font-size: 1.5063rem;
  color: #2f3234;
  text-align: center;
  margin-bottom: 1.25rem; }

.statement-text {
  font-family: Ubuntu-Light;
  font-size: 0.875rem;
  color: #2f3234;
  text-align: center; }