
@import "header";
@import "fonts";
@import "navigation";
@import "presentation";
@import "first-page";
@import "statement";
@import "reviews";
@import "burgers";
@import "team";
@import "carte";
@import "form";
@import "map";
@import "footer";
 
  
body {
  margin: 0;
  padding: 0; 
  line-height: 1.42;
  overflow: auto; }

  .wrapper{
    overflow: hidden;
  }

.container {
  max-width: rem(1100)px;
  margin: 0 auto;
 }
