.section-team{
    background: url("../images/Rectangle2.png") center;
    height: 100vh;
    min-height: 40.625rem;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative; 
    @include tablet {
        height: 100%;
        min-height:100vmax;
    }
    @include phone {
        width: 100%;
        min-height: 100vh;
}

.team{
    width: 50%;
    height: 100%;
    background: rgba(49, 52, 54, 0.93);
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: center;

    @include tablet {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
        align-items: center;
        flex-direction: column;
    }

    @include phone {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
        align-items: center;
        flex-direction: column;
    }
}

.team__detail{
    height: 100%;
    width: 75%;

    @include tablet {
        width: 50%;
        margin-top: 7.5rem;

    }

    
    @include phone {
        width: 50%;
       
       

    }
}

.team__title{
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 4.5rem;

    @include phone {
        font-size: 3.125rem;
    }
/*
    @include tablet{
        text-align: center;
        margin-bottom: 2.8125rem;
    }*/
}

.team__list{
    margin: 0;
    margin-top: 4.375rem;
    padding: 0;
    list-style-type: none;
}


.team__item{
    font-family: Gagalin;
    font-size: .875rem;
    color: #f9b43b;

}

.team__item_title{
    font-family: Gagalin;
    font-size: .875rem;
    color: #ffffff;

    
    @include tablet {
        font-size: 1.5rem;
    }

    @include phone {
        font-size: 1.5rem;
    }
}

.team__item_title::before{
    display: inline-block;
    margin-right: 0.625rem;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #f9b43b;
    transform: translateY(-50%);
}

.team__item_title-active:hover{
    color: #f9b43b;

    @include tablet {
        color: #f9b43b;
    }
}
   
.team__item_title-active{
    @include phone {
        color: #f9b43b;
    }
}

.team__item_title-active:hover::before{
    transform: rotate(180deg) translateY(50%);
}
.team__description{
    display: flex;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    @include phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
}

.team__image{
    margin: 1.25rem;
    max-width: 100%;
    height: 100%;
    
}

.team__text{
    font-family: Ubuntu-Light;
    font-size: .875rem;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    width: 17.5rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    
}


.team__text-title {
    font-family: Ubuntu-Bold;
    font-size: .875rem;
    color: #ffffff;
}   }